;; shadow-cljs configuration
{:source-paths
 ["src"]

 :dependencies
 [[com.google.javascript/closure-compiler-unshaded "v20180402"]]

 :builds
 {:app {:target :browser
        :output-dir "public/js"
        :asset-path "js"

        :modules
        {:main ;; <- becomes public/js/main.js
         {:entries [starter.browser]}}

        :js-options
        ;; public-simple
        {:pretty-print true
         :optimizations :simple}
        ;; public-pseudo
        #_{:pretty-print true
           :pseudo-names true
           :source-map false
           :optimizations :simple}
        ;; public-whitespace
        #_{:pretty-print true
           :optimizations :whitespace}

        ;; start a development http server on http://localhost:8020
        :devtools
        {:http-root "public"
         :http-port 8020}
        }}}
